@tailwind base;
@tailwind components;
@tailwind utilities;

html.lenis,
html.lenis body {
  height: auto
}

.lenis-smooth {
  scroll-behavior: auto !important
}

.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain
}

.lenis-stopped {
  overflow: hidden
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
textarea:-webkit-autofill,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:hover {
  -webkit-box-shadow: 0 0 0 1000px transparent inset;
  transition: background-color 5000s ease-in-out
}

html:not(.dark) input:-webkit-autofill,
html:not(.dark) textarea:-webkit-autofill {
  -webkit-text-fill-color: #0f172a
}

html.dark input:-webkit-autofill,
html.dark textarea:-webkit-autofill {
  -webkit-text-fill-color: #ffffff
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px
}

::-webkit-scrollbar-track {
  background: 0 0
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px
}

html.dark ::-webkit-scrollbar-thumb {
  background: #12121a
}

@keyframes scroll {
  0% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(-100%)
  }
}

.marquee-content {
  animation: 20s linear infinite scroll
}

.marquee-content:hover {
  animation-play-state: paused
}

::-webkit-scrollbar-thumb:hover {
  background: #6c63ff
}

.btt-visible {
  opacity: 1 !important;
  transform: translateY(0) !important;
  pointer-events: all !important
}

.hardware-accelerate {
  will-change: transform, opacity;
  transform: translateZ(0);
  backface-visibility: hidden
}

.mega-text {
  font-size: 18vw;
  letter-spacing: -.06em
}

@media (min-width:768px) {
  .mega-text {
    font-size: 15vw
  }
}

html:not(.dark) #hero-canvas {
  opacity: .15
}